<template name='navbar'>
    <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">WASBO Certificate Generator</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active waBlue">{{> accountButtons}}</li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a class="waBlue" href="/">Workshops</a></li>
      <li><a class="waBlue" href="{{pathFor 'myWorkshops'}}">My Workshops</a></li>
      <li><a class="waBlue" href="{{pathFor 'certificate'}}">Generate Certificate</a></li>
    </ul>
  </section>
</nav>
</template>